[package]
name = "pyfusion"
version = "1.1.1-dev0"
edition = "2021"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fusion"

# rlib is needed to be able to separate tests into tests/
crate-type = ["cdylib", "rlib"]

[dependencies]
# feature "extension-module" is set by maturin via pyproject.toml
pyo3 = { version = "0.21.2" }