# Publish package on main branch if it's tagged with 'v*'

name: Release Workflow

# Controls when the action will run.
on:
  # Triggers the workflow on push events but only for the master branch
  push:
    tags:
      - 'v*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

env:
  UV_HTTP_TIMEOUT: 300
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  check-build:
    runs-on: ubuntu-latest
    outputs:
      build-successful: ${{ steps.check-build-success.outputs.successful }}

    steps:
      - name: Check latest build status
        id: check-build-success
        uses: actions/github-script@v6
        with:
          script: |
            const { owner, repo } = context.repo;
            const tagSha = '${{ github.context.sha }}';
            const runs = await github.rest.actions.listWorkflowRuns({
              owner,
              repo,
              workflow_id: 'dev.yml',
              status: 'success',
              branch: 'master'
            });

            console.log('tagSha = ' + tagSha)
            console.log('headSha = ' + run.head_sha)
            const successfulRun = runs.data.workflow_runs.find(run => run.head_sha === tagSha);
            if (successfulRun) {
              core.setOutput('successful', 'true');
            } else {
              core.setOutput('successful', 'false');
              core.setFailed('No successful build for this commit/tag');
            }
            
  publish:
    needs: check-build
    if: ${{ needs.check-build.outputs.build-successful == 'true' }}
    runs-on: ubuntu-latest

    steps:
    - name: Get version from tag
      id: tag_name
      run: |
        echo ::set-output name=current_version::${GITHUB_REF#refs/tags/v}
      shell: bash

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout main repo
      uses: actions/checkout@v4
      with:
        path: main_repo
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Get Changelog Entry
      id: changelog_reader
      uses: mindsers/changelog-reader-action@v2
      with:
        version: ${{ steps.tag_name.outputs.current_version }}
        path: main_repo/CHANGELOG.md

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Set up rye
      run: curl -sSf https://rye-up.com/get | RYE_INSTALL_OPTION="--yes" bash

    - name: Add Rye to PATH
      run: |
        echo "$HOME/.rye/env" >> $GITHUB_PATH
        echo "$HOME/.rye/shims" >> $GITHUB_PATH
      shell: bash

    - name: Set output
      run: echo "status=success" >> $GITHUB_ENV
      shell: bash

    - name: Use uv instead of pip
      run: rye config --set-bool behavior.use-uv=true

    - name: Verify Rye Installation
      run: rye --version
      shell: bash

    - name: Sync dependencies using rye
      run: |
        rye pin 3.9
        rye sync --all-features

    - name: Setup main repo deploy git user
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
      working-directory: main_repo

    - name: build documentation
      run: |
        git fetch origin fusion_release --depth=1
        rye run mike deploy --branch fusion_release --deploy-prefix docs --push --update-aliases ${{ steps.tag_name.outputs.current_version }} latest
        rye run mike set-default --branch fusion_release --deploy-prefix docs --push latest
      working-directory: main_repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/download-artifact@v4
      with:
        pattern: artifacts-*
        path: target/dist
        merge-multiple: true

    - name: create github release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ steps.changelog_reader.outputs.changes }}
        files: target/dist/*
        draft: ${{ contains(steps.tag_name.outputs.current_version, '.dev') }}
        prerelease: ${{ contains(steps.tag_name.outputs.current_version, '.dev') }}
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: target/dist/
